@import './normalize.css';

//-----------------------------
//--------- COLORS  -----------
//-----------------------------

$background: #161919;
$background-accent: #34525E;
$primary-accent: #FAA11E;
$secondary-accent: #F0CEAE;
$foreground: #FFFDFC;

//-----------------------------
//--------- Main Layout  -----------
//-----------------------------

body {
    color: $foreground;
    background: $background;
    font-family: 'Oswald', 'sans-serif';
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-logo {
    color: $foreground;
    font-size: 24px;
    transition: ease .3s;

    &:hover,
    &:focus {
        color: $secondary-accent;
        transition: ease .2s;
    }

    &:hover {
        cursor: pointer;
    }
}

.modal {
    background-color: rgba(22, 25, 25, .7);
    min-width: 1004px;
    min-height: 544px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0;

    button {
        outline: none;
    }
}

.overlay {
    background-color: transparent;
}

.modalCloseBtn {
    fill: $foreground;
    transition: ease .2s;
    outline: none;

    &:hover {
        fill: $secondary-accent;
        transition: ease .2s;
        cursor: pointer;
    }
}

.blurwrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    filter: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: 5;
    transition: ease .05s;

    &.open {
        filter: blur(50px);
    }
}